@import "../../node_modules/slick-carousel/slick/slick.css";
@import "../../node_modules/slick-carousel/slick/slick-theme.css";
.single_slide {
  overflow: initial;
}

.slides__container {
  position: relative;
}

.slides__backdrop {
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.3);
  position: absolute;
  z-index: 5;
}

.slides__greeting {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  color: white;
  position: absolute;
  top: 20%;
  left: 20%;
  z-index: 50;
}

.slides__greeting img {
  height: 100px;
  /* background: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, .6)); */
  padding: 20px;
  border-radius: 10px;
}

.slides__title {
  font-size: 46px;
  letter-spacing: 2px;
  text-align: left;
  transform: translateX(-30%);
  opacity: 0;
  transition: all 2.5s ease-in
}

.slides__subtitle {
  font-size: 20px;
  text-align: left;
  transform: translateX(30%);
  opacity: 0;
  transition: all 2.5s ease-in
}

@media only screen and (min-width: 800px) {
  .single_slide {
    height: 95vh;
    overflow: hidden;
  }
}

@media only screen and (max-width: 500px) {
  .slides__greeting img {
    display: none;
  }
}